<h1>Users Component</h1>

<div class="btn-group btn-group-justified">
  <a routerLink="." class="btn btn-primary">User List</a>
  <a routerLink="add" class="btn btn-primary">New User</a>
  <a routerLink="search" class="btn btn-primary">Search</a>
</div>

<router-outlet></router-outlet>
<div class="well card">
  <span class="glyphicon glyphicon-ok-circle"></span>
  Developed By Ahmed Salah <br>

  <a class="btn btn-social-icon btn-lg btn-github" href="https://github.com/amado-saladino/users-angular">
      <i class="fa fa-github"></i>
  </a>
  <a class="btn btn-social-icon btn-lg btn-linkedin" href="https://www.linkedin.com/in/ahmed-salah-096656161/">
      <i class="fa fa-linkedin"></i>
  </a>
  <a class="btn btn-social-icon btn-lg btn-youtube" href="https://www.youtube.com/channel/UCqAoFUA1N-k0pjXMFjdfkkA">
      <i class="fa fa-youtube"></i>
  </a>
  <a class="btn btn-social-icon btn-lg btn-facebook" href="https://www.facebook.com/testawya/">
      <i class="fa fa-facebook"></i>
  </a>
</div>